        * {
            margin: 0;
            box-sizing: border-box;
        }

        .splash {
            display: flex;
            width: 100vw;
            height: 200px;
            background-image: url(imgs/large/roedvin.jpg);
            background-size: cover;
        }

        .splash h1 {
            color: white;
            margin: 0 auto;
            align-self: center;
            font-variant-caps: small-caps;
        }

        .top {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }

        .content {
            padding: 15px;
            max-width: 1000px;
            margin: auto;
            background-color: #edc9a2;
        }

        h1 {
            margin: 10px auto;
            padding: 10px;
            font-family: sans-serif;
            letter-spacing: 2rem;
            font-size: 3rem;
        }

        h2 {
            margin: 10px auto;
            font-family: sans-serif;
        }

        h3 {
            padding: 10px;
            font-family: sans-serif;
        }

        #list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-gap: 15px;
        }

        article {
            padding: 10px;
            box-shadow: 3px 2px 8px -1px gray;
            background-color: white;
            display: flex;
            flex-direction: column;
            cursor: pointer;
        }

        img {
            width: 70%;
            align-self: center;
            margin: 5px;
        }

        p {
            font-family: sans-serif;
            line-height: 150%;
            margin: 5px 10px;
        }

        .pris,
        #pris {
            font-weight: bold;
        }

        .kategori,
        #detaljer {
            color: gray;
            line-height: 100%;
        }

        header {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }

        header button {
            background-color: white;
            color: black;
            margin: 15px;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
        }

        header button:hover {
            opacity: 0.7;
        }

        .valgt {
            border: 3px solid white;
            background-color: black;
            color: antiquewhite;
            font-weight: bold;
        }

        #popup {
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(135, 98, 89, 0.8);
            display: none;
        }

        #popup article {
            width: 80vw;
            height: 80vh;
            overflow-y: scroll;
            margin: 3rem auto;
            background-color: white;
            box-shadow: none;
        }

        #luk {
            position: absolute;
            top: 5rem;
            right: 12vw;
            background-color: white;
            color: black;
            border-radius: 50%;
            padding: 0.5em;
            width: 33px;
        }

        #indhold {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        #indhold img,
        #indhold section {
            flex-basis: 200px;
            flex-grow: 1;
            padding: 10px;
        }

        #popup p {
            margin: 0;
            padding: 5px 0;
        }

        footer {
            background-color: #3c2414;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            padding: 20px;
            margin-top: 20px;
        }

        footer p {
            color: white;
        }

        @media (max-width: 520px) {
            h1 {
                letter-spacing: 1rem;
                font-size: 2rem;
            }
        }
